.contact-map {
<<<<<<< HEAD
    position: relative; /* Para posicionar el enlace de la ruta */
=======
    position: relative;
>>>>>>> 0602720 (Resolucion de conflicto GIT)
    width: 100%;
    height: 100%;
}

.contact-map__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.contact-map__route-link {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    background-color: black;
    padding: 8px 12px;
    font-size: 0.8rem;
    text-decoration: none;
    border-top-left-radius: 8px; 
}